* {
  text-decoration: none;
}

.Rintcontactbox{
    background-color: aqua;
    height: 20rem;
    width: 20rem;
}

.cont-boxes {
  background-color: #e4b991;
  margin: 1rem;
  width: 20rem;
  height: 2rem;
}

.send-btn {
  margin-left: 8rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social .Logo {
  margin-top: 2rem;
  height: 7rem;
  width: 7rem;
  padding: 0.5rem;
}
